<!DOCTYPE html>
<html lang="en">
<head>
    <meta t="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
    <title>LOGIN</title>
    <SCRIPT>
        var app=angular.module('registrationApp',[]);
        app.controller('Registration',function ($scope) {
            $scope.register=function (firstname,lastname,username,password,confirmpassword,phonenum,emailaddress) {
                if(angular.equals(password,confirmpassword)){
                    var x=[firstname,lastname,username,password,confirmpassword,phonenum,emailaddress];
                    if(username==localStorage.getItem(JSON.stringify(username))){
                        $scope.userExist="Choose a different username";
                    }else{
                        localStorage.setItem(JSON.stringify(username),JSON.stringify(x));
                    }}
                else{
                    $scope.err="Wrong Password";
                }
            }
        });
    </SCRIPT>
</head>

<body ng-app="registrationApp" ng-controller="registration">

<form>


    First Name: <input type="text" placeholder="Enter FirstName" ng-model="name"><br/><br/>
    Last Name: <input type="text" placeholder="Enter LastName" ng-model="name"><br/><br/>
    Username: <input type="text" placeholder="Choose a Username" ng-model="username"><br/><br/>
    Password: <input type="password" placeholder="Choose Password" ng-model="password"><br/><br/>
    Confirm Password: <input type="password" placeholder="Confirm Password" ng-model="confirmpassword"><br/><br/>
    <span ng-bind="err"></span><br/><br/>
    Phone number: <input type="text" placeholder="Phone Number" ng-model="phonenum"><br/><br/>
    E-mail address: <input type="text" placeholder="e-mail address" ng-model="emailaddress"><br/><br/>
    <input type="button" value="Register" ng-click="register(firstname,lastname,username,password,password1,phonenum,emailaddress)">

    <span ng-bind="userExist"></span>
</body>
</html>